*{
	box-sizing: border-box;
}



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
	margin: 16px;
}

.todo-app {
	max-width: 500px;
	margin: 50px auto;
	padding: 32px;
	border-radius: 8px;
	background: #9c9999;
}

.todo-app .todo-header form {
	display: flex;
}

.todo-app .todo-header form input {
	width: 100%;
	background: #fff;
	padding: 16px 24px;
	border: none;
	border-radius: 8px 0px 0px 8px;
	outline: none; 
}

.todo-app .todo-header form button {
	border: none;
	background: rgb(15, 145, 15);
	cursor: pointer;
	border-radius: 0px 8px 8px 0px;
	color: #fff;
	font-weight: bolder;
}

.todo-app .todo-list-items {
	margin: 8px 0px;
}

.todo-app .todo-list-items .todo-list-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 16px;
	border-bottom: 1px solid #ccc;
}

.todo-app .todo-list-items .todo-list-item:last-child {
	border-bottom: none;
}

.todo-app .todo-list-items .todo-list-item label {
	display: flex;
	align-items: baseline;
	gap: 8px;
	cursor: pointer;
	width: 100%;
	color:bisque;
	padding: 16px 0px;
}

.todo-app .todo-list-items .todo-list-item button {
	display: block;
	border: 1px solid;
	border-radius: 8px;
	padding: 8px 16px;
	background: red;
	color: #fff;
	box-shadow: 0px 0px 10px;
	cursor: pointer;
}

.todo-app .todo-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.todo-app .todo-footer button {
	display: block;
	padding: 8px 12px;
	background: #b00;
	color: aliceblue;
	border: none;
	border-radius: 8px;
	text-transform: capitalize;
	font-size: 12px;
	cursor: pointer;
	box-shadow: 0px 0px 10px;
}

.todo-app .todo-footer span {
	display: block;
	color: aquamarine;
	font-style: italic;
}
